{% extends 'base.html' %} {% block title %}About{% endblock title %} {% block body %}

<div class="container-fluid my-0 px-0 mb-3 ">
    <img src="/static/contact.jpeg" class="d-block w-100 mx-0" alt="..."> </div>
<center>
    <p>We are the Student of Modern College Shivajinagar, Who had made this site from the help of Django Framework.</p>
    <p>This site will help us to get the College Detail.</p>
    <p>Visit Again for any Query </p>
    <u><a href="/contact">Click Here</a></u>
</center>
{% endblock body %}