{% extends 'base.html' %} {% block title%} Contact {% endblock title %}{% block body %}
<div class="container-fluid my-0 px-0 mb-3 ">
    <img src="/static/contact.jpeg" class="d-block w-100 mx-0" alt="..."> </div>
<div class="container">
    <h2 class="text-center">Contact Us</h2>
    <form method="post" action="/contact">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="name" class="form-control" id="name" name="name" placeholder="Enter your Name">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>
        <div class="form-group">
            <label for="email">Phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" laceholder=" Enter your Phone Number ">
        </div>
        <div class="form-group ">
            <label for="exampleFormControlInput1 ">Description</label>
            <input type="desc " class="form-control " id="desc" name="desc" placeholder=" Enter some Description about you ">
        </div>
        <center><button class="btn btn-primary " type="submit ">Submit</button></center>

    </form>
    {% endblock body %}